extends layout

block content
  h1=title
  form(method='POST' class='form')
    p enter your Firstname:
      input(
        type='text'
        class='firstname'
        name='firstname'
        maxlength='10'
      )
    p enter your Password:
      input(
        type='text'
        class='Password'
        name='Password'
        maxlength='10'
      )
    p
      button(
        type='submit'
        class='submit'
      ) enter

  script
    include ../js/index.js

