doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
