extends layout

block content
    h1 edit or create
    p enter your Firstname:
        input(
            type='text'
            class='firstnm'
            name='firstnm'
            maxlength='10'
        )
    p enter your Lastname:
        input(
            type='text'
            class='lasttnm'
            name='lasttnm'
            maxlength='15'
        )
    p enter your Age:
        input(
            type='number'
            class='ages'
            name='ages'
            maxlength='10'
        )
    p enter your Email:
        input(
            type='text'
            class='emails'
            name='emails'
        )
    input(
        type='submit'
        class='creatOrEdit'
        value="creatOrEdit"
    )
    script
        include ../js/edit.js