extends layout

block content
  h1=title
  form(method='POST' class='form' action='/reqistration')
    p enter your Login:
      input(
        type='text'
        class='firstname'
        name='firstname'
        maxlength='10'
      )
    p enter your Password:
      input(
        type='Password'
        class='Password'
        name='Password'
        maxlength='12'
      )
    p
      button(
        type='submit'
        class='submit'
      ) enter

  h1 Authorisation
  form(method='POST' class='form1' action='/auth' +
  '')
    p enter your Login:
      input(
      type='text'
      class='firstname1'
      name='firstname'
      maxlength='10'
      )
    p enter your Password:
      input(
      type='Password'
      class='Password1'
      name='Password'
      maxlength='12'
      )
    p
      button(
      type='submit'
      class='submit1'
      ) enter

  script
    include ../js/index.js

