extends layout

block content
    h1=userName
    h2 all clients
    each val in data
        p(id=val.id)
            span(class = 'id')=val.id
            span(class = 'firstname')=val.firstname
            span(class = 'lastname')=val.lastname
            span(class = 'age')=val.age
            span(class = 'email')=val.email
            input(
                name=val
                type='submit'
                class='edit'
                value="edit"
                onclick="edit(event)"
            )
            input(
                name=val.id
                type='submit'
                class='delete'
                value="delete"
                onclick="del(event)"
            )
    input(
    type='submit'
    class='create'
    value='create your list'
    )

    script
        include ../js/list.js