body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.id {
  font-size: 20px;
  display: inline-block;
  width: 150px;
}

.firstname {
  font-size: 20px;
  display: inline-block;
  width: 150px;
}

.lastname {
  font-size: 20px;
  display: inline-block;
  width: 150px;
}

.age {
  font-size: 20px;
  display: inline-block;
  width: 100px;
}

.email {
  font-size: 20px;
  display: inline-block;
  width: 100px;
}

.edit {
  margin-left: 200px;
}